/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --branco : #eeeeee;
    --escuro : #181818;
    --claro  : #444444;
}

ul {
    list-style: none;
    
    display: flex;
    align-items: center;
}

a i {
    margin-right: 10px;
}

a {
    color: var(--branco);
    text-decoration: none;

    padding: 4px 8px;
}

h1 {
    color: var(--branco);
    font-size: 1.3rem;
}

h2 {
    color: var(--branco);
    font-size: 3rem;
    width: 40%;

    margin-right: 0px;
}

/* Header */

.container-header {
    height: 3vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    background-color: var(--escuro);
}

.container-header h1 {
    padding-left: 10px;
}

.container-header nav ul li:first-child {
    margin-right: 16px;
}

.container-header nav ul li a:hover {
    border-bottom: 4px solid var(--branco);
}

/* Main */

main {
    height: 97vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 600px;
    height: 145px;

    text-align: center;
}

.caixa button {
    margin-top: 50px;
    padding: 10px 15px;

    color: var(--branco);
    cursor: pointer;
    border: 2px solid var(--escuro);
    border-radius: 4px;
    background-color: var(--escuro);
}

.caixa-divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    background-color: var(--escuro);
    border-radius: 10px;
}

.caixa-divisao p {
    width: 40%;
    margin-left: 0px;

    font-weight: bold;
    color: var(--escuro);
    font-size: 3rem;
}

/* Responsivo */

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .caixa button {
        font-size: 2;
    }
    
    .caixa-divisao p {
        font-size: 2rem;
    }

    .caixa-divisao {
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    h1 {
        display: none;
    }

    .container-header {
        justify-content: center;
    }

    h2, p, button {
        font-size: 1.8rem;
    }

    .caixa-divisao p {
        font-size: 1.8rem;
    }

    .caixa-divisao {
        width: 400px;
        margin: 0 auto;
    }

    .caixa-divisao {
        width: 350px;
    }
}

@media (max-width: 375px) {
    .caixa-divisao {
        width: 200px;
    }

    h2, p, button {
        font-size: 1rem;
    }

    .caixa-divisao p {
        font-size: 1rem;
    }
}